* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header styles */

.header-container {
    width: 100%;
    height: 800px;
    background-image: url('../images/banner/banner3.png');
    text-align: right;
}

.header-title {
    color: black;
    font-size: 60px;
    font-weight: 700;
    padding: 200px 200px 30px 150px;
}

.header-description {
    color: aliceblue;
    font-size: 18px;
    margin: 0 200px 30px 130px;
    padding-left: 800px;
}

.btn-primary {
    height: 45px;
    width: 100px;
    margin: 0 200px 30px 150px;
    color: rgb(4, 73, 123);
    background: white;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
}

/* my failure section styles */

.about-failure {
    display: flex;
    gap: 90px;
    height: 750px;
    margin: 130px 130px 0 130px;
    padding: 0 100px;
}

.section-image img {
    width: 500px;
    height: 600px;
}

.section-info {
    margin-top: 170px;
    text-align: left;
}

.section-title {
    color: black;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
}

.section-description {
    color: rgb(102, 102, 102);
    font-size: 18px;
}

ul {
    margin-top: 30px;
    margin-left: 20px;
}

ul .failure-list {
    color: rgb(102, 102, 102);
    list-style: url('../images/icons/icons8-check-mark-18.png');
    padding-bottom: 8px;
}

/* my plan styles */

.my-plan h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.plan-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 100px 150px;
}

.plan-icon {
    height: 85px;
    width: 85px;
    margin-bottom: 10px;
}

.plan-title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
}

.plan-description {
    font-size: 18px;
    color: rgb(102, 102, 102);
}

/* skills styles */

.skill-section {
    margin: 100px 200px 0 200px;
    padding-top: 50px;
}

.skill {
    height: 200px;
    width: 1150px;
    background: linear-gradient(to top, rgba(15, 135, 255, 0.734), rgba(210, 240, 252, 0.625));
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.174);
    border-radius: 10px;
    padding: 30px;
    margin: 100px;
}

.skill .skill-icon {
    padding-left: 30px;
    padding-top: 20px;
}

.skills-container {
    display: flex;
}

.skill-section .section-title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.skill-title {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skill-description {
    text-align: left;
    padding-left: 30px;
    padding-right: 20px;

}

/* advice styles  */

.advice {
    width: 1100px;
    height: 300px;
    margin: 50px 200px 110px 200px;
    background: linear-gradient(to right, rgb(10, 107, 217), rgba(166, 219, 246, 0.222));
    border-radius: 7px;
}

.advice-section {
    padding-top: 55px;
    padding-left: 70px;
}

.advice-section .section-title {
    color: rgb(255, 255, 255);
}

.btn-secondary {
    height: 45px;
    width: 100px;
    color: rgb(4, 73, 123);
    background: white;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
}

/* footer styles  */

.footer {
    display: flex;
    gap: 20px;
    background: black;
    width: 100%;
    height: 500px;
    padding-top: 100px;
}

.footer-title {
    color: aliceblue;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-description-container {
    font-size: 17px;
}

.footer-description {
    margin-bottom: 16px;
}

.footer-icon a {
    text-decoration: none;
}

.footer-icon {
    margin-top: 25px;
}

.contact-info {
    color: rgb(177, 182, 187);
    font-size: 18px;
    padding: 100px 350px 0 200px;
}

.contact-info p a {
    color: aliceblue;
    text-decoration: none;
}

.subscribing-info {
    margin-right: 70px;
}

.input-email {
    color: rgb(250, 250, 250);
    background: black;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 7px;
    text-align: left;
    height: 45px;
    width: 250px;
    padding: 7px 15px;
    font-size: 18px;
    font-weight: 600;
}

.subscribing-info h3 {
    color: rgb(250, 250, 250);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 100px;
}

.btn-tertiary {
    height: 55px;
    width: 120px;
    margin: 20px 0;
    color: white;
    background: rgb(4, 73, 123);
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}